<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="common-header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</th:block>
<th:block th:fragment="ajax-jquery">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</th:block>
</html>
<!--<head th:fragment="headerfiles">-->
<!--<meta charset="UTF-8" />-->
<!--<link th:href="@{/css/styles.css}" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<p>Go to the next page to see fragments in action</p>-->
<!--<aside>-->
<!--<div>This is a sidebar</div>-->
<!--</aside>-->
<!--<div class="another">This is another sidebar</div>-->
<!--<footer th:fragment="footer">-->
<!--<a th:href="@{/fragments}">Fragments Index</a> |-->
<!--<a th:href="@{/markup}">Markup inclussion</a> |-->
<!--<a th:href="@{/params}">Fragment params</a> |-->
<!--<a th:href="@{/other}">Other</a>-->
<!--</footer>-->
<!--</body>-->
