<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="main" class="navbar navbar-expand-lg navbar-dark bg-secondary mb-4">
    <img th:src="@{/images/shards-logo.svg}" alt="네비게이션" class="mr-2" height="30">
    <a class="navbar-brand" th:href="@{/}">PAT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1"
            aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li th:if="${user} != null" class="nav-item"><a th:href="@{/admin}" class="nav-link">관리자 페이지</a></li>
            <li th:if="${user} != null" class="nav-item"><a th:href="@{/books}" class="nav-link">책 목록</a></li>
            <li th:if="${user} != null" class="nav-item"><a th:href="@{'/users/'+${user.id}+'/quiz-records'}" class="nav-link">마이페이지</a></li>
            <li th:if="${user} == null" class="nav-item"><a th:href="@{/users}" class="nav-link">회원가입</a></li>
            <li th:if="${user} == null" class="nav-item"><a th:if="${user} == null" th:href="@{/session}" class="nav-link">로그인</a></li>
        </ul>
    </div>
</nav>

<div th:fragment="admin" class="main-navbar sticky-top bg-white">
    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
        <div action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
        </div>
        <ul class="navbar-nav border-left flex-row ">
            <li th:if="${user} != null" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" th:src="@{/images/avatars/default.png}"
                         alt="User Avatar">
                    <span class="d-none d-md-inline-block" th:text="${user.name}">Sierra Brooks</span>
                </a>
                <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item" href="user-profile-lite.html">
                        <i class="material-icons">&#xE7FD;</i> Profile</a>
                    <a class="dropdown-item" href="components-blog-posts.html">
                        <i class="material-icons">vertical_split</i> Blog Posts</a>
                    <a class="dropdown-item" href="add-new-post.html">
                        <i class="material-icons">note_add</i> Add New Post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#">
                        <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                </div>
            </li>
        </ul>
        <nav class="nav">
            <a href="#"
               class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
               data-toggle="collapse" data-target=".header-navbar" aria-expanded="false"
               aria-controls="header-navbar">
                <i class="material-icons">&#xE5D2;</i>
            </a>
        </nav>
    </nav>
</div>

</html>
