<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="main" class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <!--<img th:src="@{/img/logo.png}" alt="logo">-->
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a th:if="${user} == null" th:href="@{/session}" class="site-btn header-btn">로그인</a>
                <nav class="main-menu">
                    <ul>
                        <li><a th:href="@{/}">Main</a></li>
                        <li th:if="${user} != null"><a th:href="@{/admin}">관리자 페이지</a></li>
                        <li th:if="${user} != null"><a th:href="@{/books}">책 목록</a></li>
                        <li th:if="${user} != null"><a th:href="@{'/users/'+${user.id}+'/quiz-records'}">마이페이지</a></li>
                        <li th:if="${user} == null"><a th:href="@{/users}">회원가입</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div th:fragment="admin" class="main-navbar sticky-top bg-white">
    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
        <div action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
        </div>
        <ul class="navbar-nav border-left flex-row ">
            <li th:if="${user} != null" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" th:src="@{/images/avatars/default.png}"
                         alt="User Avatar">
                    <span class="d-none d-md-inline-block" th:text="${user.name}">Sierra Brooks</span>
                </a>
                <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item" href="user-profile-lite.html">
                        <i class="material-icons">&#xE7FD;</i> Profile</a>
                    <a class="dropdown-item" href="components-blog-posts.html">
                        <i class="material-icons">vertical_split</i> Blog Posts</a>
                    <a class="dropdown-item" href="add-new-post.html">
                        <i class="material-icons">note_add</i> Add New Post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#">
                        <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                </div>
            </li>
        </ul>
        <nav class="nav">
            <a href="#"
               class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
               data-toggle="collapse" data-target=".header-navbar" aria-expanded="false"
               aria-controls="header-navbar">
                <i class="material-icons">&#xE5D2;</i>
            </a>
        </nav>
    </nav>
</div>

</html>
