<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/header :: common-header"></th:block>
    <th:block th:insert="fragments/header :: ajax-jquery"></th:block>
    <title>채점하기</title>
</head>
<body>
<h1>채점하기</h1>

<th:block th:each="question : ${questions}">
    <p>
        <span th:text="${question.questionCategory.name}"></span>
        <span th:text="${question.bookContent.name}"></span>
        <span th:text="${question.bookNumber}"></span>
    </p>
</th:block>
</body>
</html>
