<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/header :: common-header"></th:block>
    <title>결과페이지</title>
</head>
<body>
<h3>결과 페이지</h3>
<h4 th:text="${quizRecord.title}"></h4>
<th:block th:each="result : ${results}">
    <p>
        <span th:text="'문제 ID: '+${result.question.id}"></span><br>
        <span th:text="'선택한 보기: '+${result.checkedChoice}"></span><br>
        <span th:text="'정답여부: '+${result.isCorrect}"></span>
    </p>
</th:block>
</body>
</html>