<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <title>PAT</title>
</head>
<!-- TODO 권한검사 -->
<body>
<th:block th:insert="fragments/nav :: main"></th:block>
<div class="container-fluid">
    <div class="row">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem excepturi fugit molestiae, quaerat
            quo ratione reiciendis repudiandae vero. Ab aliquid deleniti fugiat natus obcaecati odit quam repellendus
            repudiandae veniam!
        </div>
    </div>
</div>
</body>
</html>
