<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <th:block th:insert="fragments/head :: user-resources"></th:block>
    <title>PAT</title>
</head>

<body>
<th:block th:insert="fragments/nav :: user"></th:block>
<div class="container-fluid">
    <div class="row">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem excepturi fugit molestiae, quaerat
            quo ratione reiciendis repudiandae vero. Ab aliquid deleniti fugiat natus obcaecati odit quam repellendus
            repudiandae veniam!
        </div>
    </div>
</div>
</body>
</html>
