<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <title>관리자 페이지 - 문제 관리</title>
</head>

<body>
관리자 페이지 - 문제 카테고리 관리<br>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>타입</th>
        <th>삭제</th>
        <th>parentId</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionCategory : ${questionCategoryPage.content}">
        <td><a th:text="${questionCategory.name}"></a></td>
        <td th:text="${questionCategory.type}"></td>
        <td>
            <form th:action="@{'/admin/question-categories/'+${questionCategory.id}}" th:method="delete">
                <button type="submit">삭제</button>
            </form>
        </td>
        <td th:text="${questionCategory.parentId}"></td>
    </tr>
    </tbody>
    <!--TODO: 페이징기능 -->

</table>
<form method="get" action="/admin/question-categories/edit">
    <button type="submit">추가하기</button>
</form>
</body>
</html>
