<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <title>PAT - 관리자 페이지</title>
</head>
<body class="h-100">
<div class="container-fluid">
    <div class="row">
        <th:block th:insert="fragments/aside :: admin"></th:block>

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <th:block th:insert="fragments/nav :: admin"></th:block>

            <!--Page Content -->
            <div class="main-content-container container-fluid px-4">
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">카테고리 관리하기</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div th:fragment="book-list" class="card card-small mb-4">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">책 목록</h6>
                            </div>
                            <div class="card-body p-0 pb-3 text-center">
                                <table class="table mb-0">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0">이름</th>
                                        <th scope="col" class="border-0">타입</th>
                                        <th scope="col" class="border-0">삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="questionCategory : ${questionCategoryPage.content}">
                                        <td><a th:text="${questionCategory.name}"></a></td>
                                        <td th:text="${questionCategory.type}"></td>
                                        <td>
                                            <form th:action="@{'/admin/question-categories/'+${questionCategory.id}}" th:method="delete">
                                                <button type="submit" class="mb-2 btn btn-outline-danger">삭제</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <!--TODO: 페이징기능 -->
                                </table>
                            </div>
                        </div>

                        <button type="button" onclick="location.href='/admin/question-categories/edit'"
                                class="mb-2 btn btn-primary mr-2">추가하기
                        </button>
                    </div>
                </div>
            </div>
            <!--End Page Content -->

            <th:block th:insert="fragments/footer :: admin"></th:block>
        </main>
    </div>
</div>
</body>
</html>
