<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>관리자 페이지 - 문제 관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
관리자 페이지 - 문제 카테고리 관리<br>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>타입</th>
        <th>parentId</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionCategory : ${questionCategoryPage.content}">
        <td><a th:text="${questionCategory.name}"></a></td>
        <td th:text="${questionCategory.type}"></td>
        <td th:text="${questionCategory.parentId}"></td>
    </tr>
    </tbody>
    <!--TODO: 페이징기능 -->

</table>
<form method="get" action="/admin/question-categories/edit">
    <button type="submit">추가하기</button>
</form>
</body>
</html>
