<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>관리자 페이지 - 하위 책목차 추가하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
관리자 페이지 - 하위 책목차 추가하기 (임시용 )<br>
<form method="post" th:action="@{/admin/bookcontent/addsub}" th:object="${BookContent}">
    <label>목차 이름</label>
    <input type="text" placeholder="목차 이름을 입력해주세요." name="name" required><br>

    <label>모의고사 여부</label>
    <input type="radio" name="isMockTest" value="true">모의고사 O
    <input type="radio" name="isMockTest" value="false" checked="checked">모의고사 X <br>

    <label>권장시간 (초) - 옵션</label>
    <input type="number" placeholder="권장 풀이 시간" name="recommandTime"><br>

    <input type="hidden" name="groupId" th:value="${parentBookContent.groupId}">
    <input type="hidden" name="bookId" th:value="${parentBookContent.book.id}">
    <input type="hidden" name="sequence" th:value="${parentBookContent.sequence}+1">
    <input type="hidden" name="depth" th:value="${parentBookContent.depth}+1">
    <button type="submit">등록</button>
</form>
</body>
</html>