<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
    <title>관리자 페이지 - 책관리</title>
</head>

<body>
관리자 페이지 - 책관리<br>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>출간일자</th>
        <th>저자</th>
        <th>ISBN</th>
        <th>출판사</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}">
        <td><a th:text="${book.name}" th:href="@{'/admin/books/'+${book.id}}"></a></td>
        <td th:text="${book.publicationDate}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.publisher}"></td>
    </tr>
    </tbody>
    <!--TODO: 페이징기능 -->

</table>
<form method="get" action="/admin/books/edit">
    <button type="submit">추가하기</button>
</form>
</body>
</html>
