<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>문제 에딧페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
관리자 페이지 - 문제 에딧

<form method="post" th:action="@{/admin/questions/edit}">
    <label>문제 카테고리</label>
    <select name="type">
        <option value="apt">적성문제</option>
        <option value="per">인성문제</option>
    </select><br>

    <label>책 목차</label>
    <select name="type">
    </select><br>

    <label>상위카테고리</label>
    <input type="number" name="bookNumber"><br>

    <label>지문 파일</label>
    <input type="file" name="contentFile"><br>

    <label>해설 파일</label>
    <input type="file" name="explanationFile"><br>

    <label>정답 보기</label>
    <input type="number" name="bookNumber"><br>

    <label>4지 선다인지 5지선다인지</label>
    <input type="number" name="bookNumber"><br>

    <button type="submit">등록</button>
    <button type="button" onclick="window.location.href='/admin/questions'">취소</button>
</form>
</body>
</html>