<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <th:block th:insert="fragments/head :: user-resources"></th:block>
    <!--<th:block th:insert="fragments/head :: admin-resources"></th:block>-->
    <title>PAT - 책 목록</title>
</head>

<body th:with="hrefPrefix='/books/'">
<div id="page">
    <th:block th:insert="fragments/nav :: user"></th:block>
    <div class="container-wrap">
        <div class="table-tr-center">
            <table th:replace="fragments/books/booksCommon :: book-list"></table>
        </div>
    </div>
</div>
</body>
<th:block th:insert="fragments/footer :: user"></th:block>
</html>
